




      <table class="table table-bordered">

        <thead *ngIf="showHeader">
        <tr>
          <th *ngFor="let column of columns" class="info">
            <template [ngTemplateOutlet]="column.head.template"></template>
          </th>
        </tr>

        <tbody>
        <tr *ngFor="let row of rows">
          <td *ngFor="let column of columns">
            <template [ngTemplateOutlet]="column.body.template" [ngOutletContext]="{'row': row}"></template>
          </td>
        </tr>
        </tbody>

        <tfoot *ngIf="showFooter">
        <tr>
          <th *ngFor="let column of columns" class="warning">
            <template [ngTemplateOutlet]="column.foot.template"></template>
          </th>
        </tr>
        </tfoot>

      </table>



