


<div>

  <div class="row">
    <div class="col-md-12">
      <button
        type="button"
        class="btn btn-default"
        style="margin-right: 8px;"
        *ngFor="let tab of tabs"
        [class.btn-primary]="tab.selected"
        (click)="selectTab(tab)"
      >
        {{ tab.title }}
      </button>
    </div>
  </div>

  <ng-content></ng-content>

</div>






