
<div class="container-fluid">

  <h1>Home</h1>

  <row>

  <av-tabs>

    <av-tab title="Table">

      <av-table [rows]="customers">

        <av-column>
          <av-head>Firstname {{ 1 + 2}}</av-head>
          <av-line field="firstname"></av-line>
        </av-column>

        <av-column>
          <av-head>Surname</av-head>
          <av-line><template let-row="row"><b>{{row.surname}}</b></template></av-line>
        </av-column>

        <av-column>
          <av-head>Json</av-head>
          <av-line><template let-row="row">{{row | json}}</template></av-line>
        </av-column>

      </av-table>

    </av-tab>

    <av-tab title="Pie Chart">
      <av-panel>
        <av-pie-chart [slices]="slices"></av-pie-chart>
      </av-panel>
    </av-tab>

    <av-tab title="Line Chart">
      <av-panel>
        <av-line-chart></av-line-chart>
      </av-panel>
    </av-tab>

    <av-tab title="Scatter Plot">
      <av-panel>
        <av-scatter-plot></av-scatter-plot>
      </av-panel>
    </av-tab>

    <av-tab title="Dynamic Chart">
      <av-panel>
        <av-dynamic-line-chart></av-dynamic-line-chart>
      </av-panel>
    </av-tab>

  </av-tabs>

  </row>


  <row>
    <div class="col-md-6">
      <av-pie-chart [slices]="slices"></av-pie-chart>
    </div>
    <div class="col-md-6">
      <av-pie-chart [slices]="slices"></av-pie-chart>
    </div>
  </row>



</div>
