<h1>{{title}}</h1>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/little-tour" routerLinkActive="active">Little Tour</a>
</nav>
<router-outlet></router-outlet>
